/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #000;
}

/* Header section */
.navbar {
    background-color: #000;
    box-shadow: 2px 3px 10px rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    letter-spacing: 2px;
    padding: 20px;
}

.nav-item .nav-link {
    color: #fff;
}

.nav-item .nav-link:hover {
    color: #0ef;
}

/* Hero section */
.hero {
    background-image: url('./img/pikaso_texttoimage_black-themed-workspace-.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}

.hero-content h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-out;
}

.hero-content h4 {
    animation: fadeInDown 1s ease-out;
}

.hero-content h3 {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 10px;
    animation: fadeInUp 1s ease-out;
}

.hero-content .para {
    font-size: 1.2rem;
    animation: fadeInUp 1s ease-out;
}

.hero-content h3.intro {
    font-size: 1.7rem;
}

span.text {
    color: #0ef;
    animation: fadeInUp 1s ease-out;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hover {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    background-color: #0ef;
    transition: all .35s;
    animation: zoomIn 1s ease-out;
}

.hover span {
    position: relative;
    z-index: 2;
}

.hover:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    transition: all .35s;
}

.hover:hover {
    color: #fff;
}

.hover:hover:after {
    width: 100%;
}

/* Keyframe animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
section{
    background: url(./img/bg.avif);
}
/* About section */
#about {
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    padding: 4rem 0 3rem;
}

#about .video {
    padding: 20px 10px 20px 20px;
    margin: 10px 0px;
    max-width: 50%;
}

#about .video video {
    max-width: 100%;
}

#about .discription {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}

#about .discription p {
    text-align: justify;
    max-width: 80%;
}

#about .discription h2 span {
    color: #0ef;
}

/* Services section */
.service-head {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0.5rem 0 1rem;
}

.service-head span {
    margin: 2px 12px;
    font-size: 2rem;
    color: #0ef;
}

#services {
    display: flex;
    padding: 3rem 2rem;
    justify-content: space-evenly;
    padding: 3rem 0 4rem;
    flex-wrap: wrap;
}

#services .card {
    box-shadow: 2px 3px 10px rgba(0, 238, 255, 0.5);
    margin: 0.4rem;
    transition: transform 0.3s ease-in-out;
}

#services .card:hover {
    box-shadow: 3px 5px 12px rgba(0, 238, 255, 0.8);
    transform: scale(1.01);
    cursor: pointer;
}

/* Portfolio section */
.main-text {
    padding-top: 130px;
}

.main-text h2 {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.2px;
    line-height: 1;
    text-align: center;
    padding-bottom: 25px;
}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    width: 70%;
    margin: 0 0 50px;
    box-shadow: 2px 2px 5px 8px #555557;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(10, 152, 162, 0.4));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 1.5s;
}

.layer h5 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover {
    transform: scale(1.01);
}

.row:hover .layer {
    height: 100%;
}

/* Contact section */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1;
    color: #fff;
    margin-top: 0.5rem;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-container h4 {
    margin: 15px 0;
    color: #e4e4e4;
    font-size: 1.1rem;
    font-weight: 600;
}

.contact-container p {
    color: #b1b1b1;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 1.5rem;
    max-width: 50%;
}

.contact-list {}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: all .40s ease;
    margin-right: 12px;
}

.contact-list li i {
    display: inline-block;
    color: #0ef;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 28px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 25px 30px 0;
    transition: .5s ease;
    opacity: 1;
    animation: slideLeft 0.3s ease forwards;
}

.contact-icons a:hover {
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
    cursor: pointer;
}

/* Back to top button */
.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

/* Screen sizing */
@media only screen and (max-width: 600px) {
    .hero {
        height: 100vh;
    }

    .hero::after {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hover {
        width: 150px;
        height: 35px;
        font-size: 16px;
    }
    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .video {
        max-width: 95%;
        margin-bottom: 30px;
    }

    #about .discription {
        max-width: 80%;
    }

    #about .discription p {
        font-size: 1rem;
        max-width: 100%;
    }
    #about .discription h4{
        text-align: center;
    }
    #about .discription h4{
        display: flex;
    }
    .row{
        width: 100%;
    }
    .contact-container p{
        max-width: 100%;
    }
}



@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .hero-content h2 {
        font-size: 2.1rem;
    }

    .hover {
        width: 180px;
        height: 40px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1025px) {
    .hero-content h2 {
        font-size: 2.5rem;
    }

    .hover {
        width: 220px;
        height: 45px;
        font-size: 20px;
    }
}
