*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
    font-family: poppins, sans-serif;
}
body{
    color: #ededed;
    background: rgb(0, 0, 0);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: 0.3s;
    opacity: 0;
    animation:  slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s*var(--i));
}
#h-menu{
    display: none;
    color: #0ef;
    border: 1px double #555557;
    width: 40px;
    height: 40px;
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content:space-between ;
    height: 100vh;
    background: url(./img/bg.avif) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s ;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: 3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font: 20px;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    text-align: none;
    margin: 30px 15px 30px 0;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    transition: 0.5s ease;
}
.home-sci a:hover{
    background: #0ef;
    color: white;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;    
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation:  slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan;
}

.about{
    display: flex;
    /* flex-wrap: wrap; */
    background: url(./img/bg.avif) no-repeat ;
    background-size: cover;
    background-position: center; 
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    border-radius: 8px;
}
.about-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}
.about-text h2{
    font-size: 2rem;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: whitesmoke;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.about-text .btn-box{
    width: 40%;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    background: url(./img/bg.avif) no-repeat ;
    background-size: cover;
    background-position: center;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 40px;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.services-list div{
    width: 30%;
    background-color: transparent;
    padding: 40px;
    margin: 15px;
    font: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: none;
    font-weight: 600;
    opacity: 0;
    animation:  slideTop 1s wase forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.service-list div:hover{
    transform: translateY(-10px);
}

section{
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-direction: column; */
    padding: 25px 0px;
    background: url(../img/bg.avif) no-repeat ;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.container1{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.container2{
 
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom:50px ;
}
.technical-bars{
    margin-left: 200px;
}
.technical-bars .bar{
    margin: 40px 0;
    font-size: 23px;
   
}
.technical-bars .bar:first-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info :nth-child(2){
    margin-left: 700px;
}
.technical-bars .bar .info span{
    font-size:17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 80%;
    height: 5px;
    background-color: white;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}
.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.js span{
    width: 65%;
}
.progress-line.node-js span{
    width: 60%;
}
.progress-line.react span{
    width: 65%;
}
.progress-line.express span{
    width: 50%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -28px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";  
}
.progress-line.node-js span::after{
    content: "90%";  
}
.progress-line.css span::after{
    content: "90%";  
}
.progress-line.js span::after{
    content: "90%";  
}
.progress-line.express span::after{
    content: "90%";  
}
.progress-line.react span::after{
    content: "90%";  
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;

}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{ animation: animate-path1 1s 1s linear forwards;}
.path-2{ animation: animate-path2 1s 1s linear forwards;}
.path-3{ animation: animate-path3 1s 1s linear forwards;}
.path-4{ animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 16%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.main-text{
    /* padding-top: 130px; */
    /* margin-top: 200px; */

}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 25px;
    margin: 12px;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(359px, auto)); */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    width: 70%;
    /* border: 1px double #555557; */
    margin: 0 0 50px 0;
    box-shadow: 2px 2px 5px 8px #555557;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;

}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    margin-right: 12px;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 28px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
}

.contact-icons a:hover {
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    /* display: inline-block; */
    padding: 14px 60px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: none;
    font-weight: 600;
    opacity: 0;
    animation:  slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan;
}

.contact-form form .send:hover{
   
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: black;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@media only screen and (max-width: 630px){
    .navbar{
        display: flex;
        position: fixed;
        top: 70px;
        right: -500px;
        /* width: 100%; */
        height: 100%;
        background: #000; /* Adjust background color as needed */
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        z-index: 101;
        transition: 0.3s;
    }
    .navbar a{
        margin: 12px;
    }
    .navbar.active{
        right: 0;
    }
    #h-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #h-menu:hover{
        box-shadow: 3px 3px 2px #0ef;
    }
    .contact-text h2 {
        font-size: 50px;
        line-height: 1;
        text-align: center;
    }
    .contact-form form .send{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .technical-bars .bar .info :nth-child(2){
        margin-left: 250px;
    }
}

@media only screen and (max-width: 430px){
    .about-text h2 {
        font-size: 0.7rem;
    }
    .about-text h4 {
        font-size: 0.9rem;
        margin: 4px 0;
    }
    .about-text p {
        font-size: 0.5rem;
        margin-bottom: 4rem;
    }
    .sub-title {
        font-size: 1.5rem;
        padding-bottom: 25px;
    }
    .services-list div h2 {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .services-list div p{
        font-size: 0.8rem;
    }
    .services-list div{
        padding: 20px;
    }
    .technical-bars {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .main-text h2 {
        font-size: 1.5rem;
        padding-bottom: 10px; 
    }
    .contact-text h2 {
        font-size: 1rem;
    }
    .contact-text p {
        line-height: normal;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    .contact-form form input, form textarea{
        padding: 10px;
    }
    .contact-list i{
        margin-right: 2px;
    }
    .contact{
        margin-top: 0px;
        grid-template-columns: none;
    }
    .technical-bars .bar .info :nth-child(2){
        margin-left: 120px;
    }
    .home{
        height: 60vh;
    }
    .home-content h3{
        font-size: 1rem;
    }
    .home-content h1{
        font-size: 2rem;
    }
    .home-content p{
        font-size: 0.8rem;
    }
    .home-sci a {
        width: 35px;
        height: 35px;
        margin: 30px 10px 30px 0;
    }
    .btn-box {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 40px;
        font-size: 16px;
        letter-spacing: 0px;
    }
    .services-list div{
        width: 100%;
        padding: 30px;
        margin: 15px;
        font: 13px;
    }
    .services-list{
        margin-top: 30px;
    }
    .row{
        margin: 0 0 30px 0;
    }
    .percentage{
        margin-left: -20px;
    }
}

/* Resume container */

.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    border: 4px solid gray;
}
.resume-container h2{
    margin: 25px;
    padding: 6px;
}
.resume-container h3{
    margin: 20px;
    color: green;
}
.resume-container a{
    color: #666464;
    padding: 15px;
    text-decoration: none;
    border: 5px double rgb(8, 8, 55);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #9b9d9f;
    cursor: pointer;
   
}
.resume-container a:hover{
    box-shadow: 4px 4px 30px rgb(55, 53, 53);
}